/*-- scss:defaults --*/

// Base document colors
$body-color: #343A3F;
$link-color: #D74633;
$valuebox-bg-warning: #f4cfa0;
$valuebox-bg-success: #d4aca7;

// Navigation element colors
$navbar-bg: #343A3F;

/*-- scss:rules --*/
.card-header {
    background-color: #343A3F;
    color: white;
}

.nav-link{
    color: white;
}

.value-box .value {
    color: white;
}

/* Hide dummy tabs used to work around quarto tabset orientation bug */
.nav-link[data-value="Dummy"],
.nav-link[data-value="Dummy2"] {
    display: none !important;
}

[data-title="Dummy"],
[data-title="Dummy2"] {
    display: none !important;
}
